$block: '.c_checkbox';
$blockRadio: '.c_radio';

#{$block}, #{$blockRadio} {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  user-select: none;
  cursor: pointer;
  html[dir="rtl"] & {
    padding-right: 30px;
    padding-left: 0;
  }
  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  &__input:checked ~ &__checkmark {
    border-color: $checkbox__active__border-color;
    &:after {
      content: "";
      position: absolute;
      display: block;
    }
  }
  &__checkmark {
    position: absolute;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: 1px solid $checkbox__border-color;
    top: 2px;
    left: 0;
    html[dir="rtl"] & {
      left: auto;
      right: 0;
    }
  }
  &__label {
    line-height: 24px;
    a {
      color: $privacy__color;
      transition: none;
      &:hover {
        color: $link__hover-color;
      }
      strong {
        font-weight: 400;
      }
    }
  }
}
#{$block} {
  &__input:checked ~ &__checkmark {
    background-color: $checkbox__active__background-color;
    &:after {
      border-right: 2px solid $checkbox__checkmark-after__border-color;
      border-bottom: 2px solid $checkbox__checkmark-after__border-color;
      transform: rotate(45deg);
      top: 0;
      left: 6px;
      width: 7px;
      height: 14px;
    }
  }
  &__checkmark {
    border-radius: 0;
  }
}
#{$blockRadio} {
  &__input:checked ~ &__checkmark {
    &:after {
      width: 10px;
      height: 10px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background: $checkbox__active__background-color;
    }
  }
  &__checkmark {
    border-radius: 50%;
  }
}
