input[type=text],
input[type=email],
input[type=tel],
textarea {
  color: $input__color;
  @include property("font-weight", $input__font-weight);
  @include custom-placeholder {
    color: $input__placeholder-color;
    @include property("font-weight", $input__font-weight-placeholder);
  }
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: $input__border-color $input__border-style $input__border-width;
  -webkit-text-fill-color: $input__color;
  -webkit-box-shadow: 0 0 0px 1000px $input__background-color inset;
}