extends ../layout/root.pug
block page-info
	- var pageTitle = "Home page";
	- var pageClass = "home-page";
block critical-css
	//- //inject-style-critical critical/critical-home-page.css
block module-css
	//cssfiles:critical-home-page.css,home-page.css
	//inject-style-modules:css
	//endinject
block body
	

