footer.footer
	.container
		.footer__left
			a.logo(href="#")
				img(src="../../assets/images/logo-footer.svg", alt="")
		.footer__right
			a.footer__link(href="#") Terms and Conditions
			a.footer__link(href="#") Privacy Policy