nav.main-menu.container
    a.logo(href="/dist/ProductRegistration/electrolux/templates/pages/home.html")
        img(src="../../assets/images/logo.svg", alt="")
    div.nav__right
        .dropdown.dropdown--right
            .dropdown__toggle EN
            .dropdown__menu
                a.dropdown__item(href="#") EN 
                a.dropdown__item(href="#") VI 